[Unit]
Description=Shadowsocks Manager
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/ss-manager -c /opt/freedomvpn/ss-manager-config.json -u
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
